@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center
b, strong
	font-weight: bold

.preloader
	position: fixed
	left: 0px
	top: 0px
	width: 100%
	height: 100%
	z-index: 999999
	background: url(../img/interface/loading.gif) center no-repeat #fff
	text-align: center


.fullscreenTopBgPage
	overflow: hidden
	position: relative
	height: 100vh
	width: 100%
	padding: 0 
	margin: 0
	min-height: 600px

.nav-link:link

.nav-link:active

.nav-link:hover
	color: #fff
	text-decoration: underline

.nav-link:visited


.video__block
	width: 100%
	min-height: 600px
	height: 100vh
	position: absolute
	overflow: hidden
	z-index: -100

.viedeo__file
	position: absolute
	width: 100%
	height: 100%
	object-fit: cover

.overlay
	background: rgba(0,0,0,0.7)
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: -99
	min-height: 600px

.overlay__content
	position: absolute
	text-align: center
	width: 100%
	bottom: 55%

.page-title
	color: #fff
	font-size: $headSizeText

.page-description
	color: #fff
	font-size: ($headSizeText/2)
	margin-top: -10px;

.scroll__info
	position: absolute
	display: block
	width: 100%
	left: 0
	bottom: 5%

.scroll__text
	position: relative
	display: block
	width: 100%
	text-align: center
	text-transform: uppercase
	font-weight: normal
	font-size: 0.8em
	color: rgba(255,255,255,0.5)

.mouse
	position: inherit
	box-sizing: border-box
	left: 50%
	bottom: 25px
	width: 30px
	height: 48px
	border-radius: 15px
	border: 2px solid rgba(255,255,255,0.5)
	transform: translateX(-50%) translateZ(0)

.mouse__wheel
	position: inherit
	left: 50%
	margin-left: -2px
	top: 8px
	width: 4px
	height: 9px
	background: rgba(255,255,255,0.5)
	border-radius: 2px
	animation: mouse-wheel 1.25s infinite linear
	transform-origin: 50% 0%

@keyframes mouse-wheel
	0%
		transform: scaleY(.4) translateY(0)
	20%
		transform: scaleY(1) translateY(0)
	60%
		transform: scaleY(.4) translateY(12px)
	100%
		transform: scaleY(.4) translateY(0)

@import "sectionsMain"
@import "searchToggle"
@import "media" // Always at the end
